* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    min-width: 1200px;
     overflow-x: hidden; 
}

.header {
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    /* z-index: 4; */
}
.header_logo_png{
    background: url(../img/logo_1.png) no-repeat;

      width: 64px;
    height: 80px;
    position: absolute;
    left: 16px;
}
.header_logo {
    background: url(../img/logo.png) no-repeat;
    width: 200px;
    height: 80px;
    position: absolute;
    left: 80px;
    background-color: #FFFFFF;
}

.header ul {
    /*  background: url(bg_1.png) ; */
    width: 600px;
    height: 80px;
    position: absolute;
    left: 280px;
    background-color: #FFFFFF;
    /*   z-index: -1; */
}

.header li {
    list-style: none;
    background-color: #FFFFFF;
    font-size: 20px;
    font-family: simhei;
    width: 120px;
    height: 54px;
    float: left;
    text-align: center;
    padding-top: 26px;
}

a {
    color: #000000;
    text-decoration: none;
}

.login a:hover{
    color: #31C27C;
    text-decoration: none;
}

.header_search {
    width: 230px;
    height: 80px;
    position: absolute;
    left: 920px;
}

#search_text {
    width: 150px;
    height: 35px;
    position: absolute;
    left: 0px;
    top: 20px;
    font-family: simhei;
    font-size: 15px;
    border: 1px solid #c9c9c9;
    /* border-radius:5px;  */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#search_button {
    width: 65px;
    height: 37px;
    position: absolute;
    left: 150px;
    top: 20px;
    background-color: #31C27C;
    color: #FFFFFF;
    border: 0px;
    /*  border-radius:5px;  */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family: simhei;
    font-size: 16px;
}

.login {
    position: absolute;
    left: 1150px;
    top: 0px;
    width: 200px;
    height: 80px;
}

#login_button {
    position: relative;
    left: 30px;
    top: 28px;
    background-color: #FFFFFF;
    /*  color: #000000; */
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: simhei;
}

#register_button {
    position: relative;
    left: 40px;
    top: 28px;
    background-color: #31C27C;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: simhei;
}
